@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/TBCContractica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-image: url('/assets/images/eu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    font-family: 'MyFont', sans-serif;
}
