@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/TBCContractica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    font-family: 'MyFont', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 750px) {
    body {
        background-image: url('/assets/images/eu-mobile.jpg');
    }
}

@media (min-width: 751px) and (max-width: 1050px) {
    body {
        background-image: url('/assets/images/eu-tablet.jpg');
    }
}

@media (min-width: 1051px) {
    body {
        background-image: url('/assets/images/eu-desktop.jpg');
    }
}