@font-face {
    font-family: 'MyFont';
    src: url('/assets/fonts/TBCContractica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    font-family: 'MyFont', sans-serif;
}

body {
    height: 100vh;
    background-color: #234093;
}
